.root {
  position: relative;
  margin-bottom: 25px;
  input {
    border: 1px solid #ceced2;
    border-radius: 3px;
    height: 56px;
    color: #000000;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.13px;
    line-height: 19px;
    opacity: 0.8;
    text-align: left;
    padding-top: 26px;
    transition: all 0.25s ease;
    width: calc(100% - 18px);
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
  }
  label {
    position: absolute;
    color: #000000;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.13px;
    line-height: 19px;
    opacity: 0.3;
    text-align: left;
    top: 19px;
    left: 9px;
    transition: 0.25s ease all;
  }
  &:hover {
    input {
      box-shadow: 0 1px 5px 0 rgba(57, 24, 245, 0.9);
    }
  }

  &:focus ~ label {
    top: 7px;
    font-size: 12px;
    font-weight: 400;
  }
  &:valid ~ label {
    top: 7px;
    font-size: 12px;
    font-weight: 400;
  }
}
